h1 { 
    color: rgb(53, 83, 53);
    font-size: 40 px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    color: rgb(28, 48, 28);
    font-size: 20 px;
    background-color: RGB(255, 239, 193);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: "60%";
    margin: "auto";
    display: "block";
}
